{:deps true
 :builds {:app
          {:target :expo-router
           :root-ns app.layout
           :output-dir "out"
           :compiler-options {:source-map-path "out/"
                              :source-map-include-sources-content true
                              :warnings-as-errors true}
           :devtools {:preloads [uix.preload preload]
                      :build-notify preload/build-notify}}}}
